{% extends 'layout.html' %}
{% load static %}

{% block content %}
<h1 class="text-center">Current Weather</h1>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div
                hx-get="/weather-card?q=Atlanta"
                hx-trigger="load"
                hx-swap="innerHTML">
            </div>
        </div>
        <div class="col">
            <div
                hx-get="/weather-card?q=Seattle"
                hx-trigger="load"
                hx-swap="innerHTML">
            </div>
        </div>
        <div class="col">
            <div
                hx-get="/weather-card?q=New+York"
                hx-trigger="load"
                hx-swap="innerHTML">
            </div>
        </div>
        <div class="col">
            <div
                hx-get="/weather-card?q=Miami"
                hx-trigger="load"
                hx-swap="innerHTML">
            </div>
        </div>
    </div>

</div>
{% endblock %}