{% extends 'layout.html' %}
{% load static %}

{% block content %}
<h1 class="text-center">Current Weather</h1>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            {% include 'weather_card.html' with city='Atlanta' %}
        </div>
        <div class="col">
            {% include 'weather_card.html' with city='New York' %}
        </div>
        <div class="col">
            {% include 'weather_card.html' with city='Seattle' %}
        </div>
        <div class="col">
            {% include 'weather_card.html' with city='Miami' %}
        </div>
    </div>

</div>
{% endblock %}